#define ___ &trans
#define XXX &none

#define MEH_F1 MAKE_MEH(F1)
#define MEH_F2 MAKE_MEH(F2)
#define MEH_F3 MAKE_MEH(F3)
#define MEH_F4 MAKE_MEH(F4)

#define HYPER_F1  MAKE_HYPER(F1)
#define HYPER_F2  MAKE_HYPER(F2)
#define HYPER_F3  MAKE_HYPER(F3)
#define HYPER_F4  MAKE_HYPER(F4)
#define HYPER_F5  MAKE_HYPER(F5)
#define HYPER_F6  MAKE_HYPER(F6)
#define HYPER_F7  MAKE_HYPER(F7)
#define HYPER_F8  MAKE_HYPER(F8)
#define HYPER_F9  MAKE_HYPER(F9)
#define HYPER_F10 MAKE_HYPER(F10)
#define HYPER_F11 MAKE_HYPER(F11)
#define HYPER_F12 MAKE_HYPER(F12)

#define ALPHA         0
#define CAPS_WORD     1
#define NUMPAD        2
#define NUM_ROW       3
#define MOUSE         4
#define NAV           5
#define SYMBOLS       6
#define SHORTCUTS     7
#define FN            8
#define GAME_FPS      9
#define VLC_PLAYER    10
#define SYSTEM        11

