#define ZMK_MOUSE_DEFAULT_MOVE_VAL 3000  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

#include <dt-bindings/zmk/mouse.h>

ZMK_BEHAVIOR(smart_mouse, tri_state,
    bindings = <&tog MOUSE>, <&none>, <&tog MOUSE>;
    ignored-key-positions = <
        LM1 LM3
        RT0 RT1 RT2 RT3 RT4
        RM1 RM2 RM3 
        RB1 RB2 RB3
        RH0 RH1
    >;
    ignored-layers = <MOUSE>;
)

&mmv {
    acceleration-exponent = <1>;      // 1
    time-to-max-speed-ms = <500>;    // 40
    delay-ms = <0>;                   // 0
};

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <40>;      // 500
    delay-ms = <0>;                   // 10
};

#define U_MS_U &mmv MOVE_UP
#define U_MS_D &mmv MOVE_DOWN
#define U_MS_L &mmv MOVE_LEFT
#define U_MS_R &mmv MOVE_RIGHT
#define U_WH_U &msc SCRL_UP
#define U_WH_D &msc SCRL_DOWN
#define U_WH_L &msc SCRL_LEFT
#define U_WH_R &msc SCRL_RIGHT

ZMK_COMBO(mouse, &smart_mouse, LM3 LM1, BASE NAV NUM, COMBO_TERM_FAST)