ZMK_BEHAVIOR(mt_nav, hold_tap,
    bindings = <&kp>, <&kp>;
    flavor = "tap-preferred";
    tapping-term-ms = <220>;
    quick-tap-ms = <220>;
    hold-trigger-key-positions = <0>;
)

#define NAV_LEFT  &mt_nav HOME     LEFT
#define NAV_RIGHT &mt_nav END      RIGHT
#define NAV_UP    &mt_nav LC(HOME) UP
#define NAV_DOWN  &mt_nav LC(END)  DOWN