MACRO_10_MS(mc_copy,          &kp LC(C))
MACRO_10_MS(mc_sel_copy,      &kp LC(A) &kp LC(C))
HOLDTAP_KEY(th_copy,          &mc_sel_copy, &mc_copy)

MACRO_10_MS(mc_paste,         &kp LC(V))
MACRO_10_MS(mc_sel_paste,     &kp LC(A) &kp LC(V))
HOLDTAP_KEY(th_paste,         &mc_sel_paste, &mc_paste)

MACRO_10_MS(mc_bspc,          &kp BSPC)
MACRO_10_MS(mc_del_word,      &kp LC(BSPC))
HOLDTAP_KEY(th_bspc,          &mc_del_word, &mc_bspc)

MACRO_10_MS(mc_tab,           &kp TAB)
MACRO_10_MS(mc_shft_tab,      &kp LS(TAB))
HOLDTAP_KEY(th_tab,           &mc_shft_tab, &mc_tab)

MACRO_10_MS(mc_new_close_tab, &kp LC(T) CLOSE_TABS)