// Tap: Sticky Shift | Shift-tap: Caps Word | Double-tap: Caps Word | Hold: Shift
#define SMART_SHIFT &smart_shift LSHIFT 0

ZMK_BEHAVIOR(smart_shift, hold_tap,
    bindings = <&kp>, <&shift_caps_word>;
    tapping-term-ms = <200>;
    quick-tap-ms = <QUICK_TAP_MS>;
    flavor = "balanced";
)
SIMPLE_MORPH(shift_caps_word, SFT, &sk LSHIFT, &caps_word)


// Tap: Space | Shift-tap: Dot -> Space -> Sticky Shift | Hold: activate layer "number"
#define SPC_L(LAYER) &ht_space LAYER 0

ZMK_BEHAVIOR(ht_space, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&mo>, <&spc_morph>;
)
SIMPLE_MORPH(spc_morph, SFT, &kp SPACE, &m_dot_spc)

ZMK_BEHAVIOR(m_dot_spc, macro,
    wait-ms = <0>;
    tap-ms = <5>;
    bindings = <&m_dot &kp SPACE &sk LSHIFT>;
)