// Tap: Sticky Shift | Shift-tap: Caps Word | Double-tap: Caps Word | Hold: Momentary layer NAV
#define SHIFT_NAV &smart_shift NAV 0

ZMK_BEHAVIOR(smart_shift, hold_tap,
    bindings = <&mo>, <&shift_caps_word>;
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
    flavor = "balanced";
)
SIMPLE_MORPH(shift_caps_word, SFT, &sk LSHIFT, &caps_word)


// Tap: Space | Shift-tap: Dot -> Space -> Sticky Shift | Hold: activate layer "number"
#define SPC_MACRO_NUM &ht_space NUM 0

ZMK_BEHAVIOR(ht_space, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
    bindings = <&mo>, <&spc_morph>;
)
SIMPLE_MORPH(spc_morph, SFT, &kp SPACE, &m_dot_spc)

ZMK_BEHAVIOR(m_dot_spc, macro,
    wait-ms = <0>;
    tap-ms = <50>;
    bindings = <&kp KP_DOT &kp SPACE &sk LSHIFT>;
)