LAYERTAP_KEY(lt_spc, &mm_spc_triple_under)
MORPH_SINGLE(mm_spc_under, RSFT, &kp SPACE, &kp UNDER)
MORPH_SINGLE(mm_spc_ht_dot, LSFT, &mm_spc_under, &mc_end_dot)
MORPH_SINGLE(mm_spc_triple_under, RALT, &mm_spc_ht_dot, &mc_triple_under)

LAYERTAP_KEY(lt_shft, &mm_shft_caps_lock)
MORPH_SINGLE(mm_shft_caps_word, LSFT, &sk LSHIFT, &my_caps_word)
MORPH_SINGLE(mm_shft_caps_lock, LCTL, &mm_shft_caps_word, &to CAPS_WORD)

LAYERTAP_KEY(lt_caps, &mm_caps_word)
LAYERTAP_KEY(lt_to, &to)
LAYERTAP_KEY(lt_sl, &sl)

LAYERTAP_KEY(lt_num_row, &num_row_word)
LAYERTAP_KEY(lt_num_word, &num_word)