LAYERTAP_KEY(lt_spc, &mm_spc_triple_under)

MORPH_SINGLE(mm_spc_dot,          RSFT, &kp SPACE,     &mc_end_dot)
MORPH_SINGLE(mm_spc_under,        RCTL, &mm_spc_dot,   &mc_spc_comma)
MORPH_SINGLE(mm_spc_triple_under, RALT, &mm_spc_under, &mc_triple_under)

LAYERTAP_KEY(lt_repeat, &key_repeat)
LAYERTAP_KEY(lt_to, &to)
LAYERTAP_KEY(lt_num, &num_word)