#define WIN_WAIT_MS 100

// Tap: None | Double-tap: Windows sleep | Triple-tap: Windows restart | Hold: Windows shutdown
#define WIN_POWER &ht_win_power 0 0

ZMK_BEHAVIOR(ht_win_power, hold_tap,
    tapping-term-ms = <280>;
    bindings = <&m_win_shutdown>, <&td_win_power>;
)
ZMK_BEHAVIOR(td_win_power, tap_dance,
    tapping-term-ms = <300>;
    bindings = <&none>, <&m_win_sleep>, <&m_win_restart>;
)

ZMK_BEHAVIOR(m_win_sleep, macro,
    wait-ms = <WIN_WAIT_MS>;
    tap-ms = <5>;
    bindings = <&kp LG(X) &kp UP &kp UP &kp RIGHT &kp DOWN &kp ENTER>;
)
ZMK_BEHAVIOR(m_win_shutdown, macro,
    wait-ms = <WIN_WAIT_MS>;
    tap-ms = <5>;
    bindings = <&kp LG(X) &kp UP &kp UP &kp RIGHT &kp DOWN &kp DOWN &kp ENTER>;
)
ZMK_BEHAVIOR(m_win_restart, macro,
    wait-ms = <WIN_WAIT_MS>;
    tap-ms = <5>;
    bindings = <&kp LG(X) &kp UP &kp UP &kp RIGHT &kp UP &kp ENTER>;
)