#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

#include "../zmk-nodefree-config/helper.h"

#include "../config-parts/utils/helpers.dtsi"

#include "../config-parts/common/aliases.dtsi"
#include "../config-parts/common/settings.dtsi"
#include "../config-parts/common/behaviors.dtsi"

#include "../config-parts/layers/default.dtsi"
#include "../config-parts/layers/num_word.dtsi"
#include "../config-parts/layers/num_expr.dtsi"
#include "../config-parts/layers/sym.dtsi"
#include "../config-parts/layers/nav.dtsi"
#include "../config-parts/layers/fn.dtsi"
#include "../config-parts/layers/game_fps.dtsi"
#include "../config-parts/layers/mouse.dtsi"
#include "../config-parts/layers/sys.dtsi"

#include "../config-parts/macros.dtsi"
#include "../config-parts/combos.dtsi"

ZMK_CONDITIONAL_LAYER(FN NAV, SYS)