#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "../zmk-nodefree-config/helper.h"

#include "../config-parts/utils/helpers.dtsi"
#include "../config-parts/custom_keys.dtsi"
#include "../config-parts/settings.dtsi"
#include "../config-parts/macros.dtsi"
#include "../config-parts/combos.dtsi"
#include "../config-parts/behaviors.dtsi"
#include "../config-parts/features/urob.dtsi"
#include "../config-parts/features/win_power.dtsi"
#include "../config-parts/features/smart.dtsi"
#include "../config-parts/features/nav.dtsi"
#include "../config-parts/features/mouse.dtsi"

#include "../config-parts/layers/base.dtsi"
#include "../config-parts/layers/num.dtsi"
#include "../config-parts/layers/sym.dtsi"
#include "../config-parts/layers/nav.dtsi"
#include "../config-parts/layers/fn.dtsi"
#include "../config-parts/layers/media.dtsi"
#include "../config-parts/layers/game_fps.dtsi"
#include "../config-parts/layers/mouse.dtsi"
#include "../config-parts/layers/sys.dtsi"

ZMK_CONDITIONAL_LAYER(FN NAV, SYS)