/*
 * Dot + Colon + Greater Than
 *
 * Tap: .
 * Shift-Tap: :
 * Shift-Ctrl-Tap: >
*/
ZMK_BEHAVIOR(dot_morph, mod_morph,
    bindings = <&kp KP_DOT>, <&colon_greater_than>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_BEHAVIOR(colon_greater_than, mod_morph,
    bindings = <&kp COLON>, <&kp GREATER_THAN>;
    mods = <(MOD_LCTL|MOD_RCTL)>;
)

/*
 * Comma + Semicolon + Less Than
 *
 * Tap: ,
 * Shift-Tap: ;
 * Ctrl-Shift-Tap: <
*/
ZMK_BEHAVIOR(comma_morph, mod_morph,
    bindings = <&kp KP_COMMA>, <&semi_less_than>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_BEHAVIOR(semi_less_than, mod_morph,
    bindings = <&kp SEMI>, <&kp LESS_THAN>;
    mods = <(MOD_LCTL|MOD_RCTL)>;
)

/*
 * Shifted Exclamation types Question
 *
 * Tap: !
 * Shift-Tap: ?
*/
ZMK_BEHAVIOR(mm_excl_qst, mod_morph,
    bindings = <&kp EXCLAMATION>, <&kp QUESTION_MARK>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

/*
 * Backspace + Delete + LSYM
 *
 * Tap: Backspace
 * Shift-Tap: Delete
 * Hold: Momentary LSYM
*/
ZMK_BEHAVIOR(bspc_del_lsym, mod_morph,
    bindings = <&lt LSYM BACKSPACE>, <&kp DELETE>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

/*
 * Escape + Grave + MEH
 *
 * Tap: Escape
 * LShift-Tap: ~
 * RShift-Tap: `
 * Hold: MEH
 */
ZMK_BEHAVIOR(mm_gresc_meh, mod_morph,
    bindings = <&hm MY_MEH ESCAPE>, <&kp GRAVE>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    keep-mods = <(MOD_LSFT)>;
)