#undef ZMK_LEADER_SEQUENCE
#define ZMK_LEADER_SEQUENCE(name, leader_bindings, leader_sequence) \
    / { \
        behaviors { \
            leader: leader { \
                compatible = "zmk,behavior-leader-key"; \
                #binding-cells = <0>; \
                ignore-keys = <LSHFT RSHFT>; \
                leader_sequence_ ## name { \
                    bindings = <leader_bindings>; \
                    sequence = <leader_sequence>; \
                }; \
            }; \
        }; \
    };

// Layer
ZMK_LEADER_SEQUENCE(pot_player,   &to POT_PLAYER,   L P)

// System
ZMK_LEADER_SEQUENCE(sys_sleep,    &kp C_SLEEP,      S S)
ZMK_LEADER_SEQUENCE(sys_shutdown, &kp C_POWER,      S D)
