ALT_SYMBOL(mc_at_sign,    &kp KP_N6 &kp KP_N4)
MACRO_10_MS(mc_email,     &kp N &kp N3 &kp R &kp Q &kp N1 &kp N3 &kp N3 &kp N7 &kp AT_SIGN &kp Y &kp A &kp DOT &kp R &kp U)
HOLDTAP(ht_at_email,      &mc_email, &mc_at_sign)

/* Logical operators */
HOLDTAP(ht_lgc_pipe,      &mc_lgc_or, &mc_pipe)
MACRO_10_MS(mc_lgc_or,    &kp SPACE &kp PIPE &kp PIPE &kp SPACE)

HOLDTAP(ht_lgc_amps,      &mc_lgc_and, &mc_amps)
MACRO_10_MS(mc_lgc_and,   &kp SPACE &kp AMPS &kp AMPS &kp SPACE)

HOLDTAP(ht_lgc_eql,       &mc_lgc_eql, &mc_eql)
MACRO_0_MS(mc_lgc_eql,    &kp SPC &kp EQUAL &kp EQUAL &kp SPC)

/* Punctuation marks */
MACRO_0_MS(mc_end_excl,   &kp EXCL &kp SPACE &sk LSHIFT)
HOLDTAP(ht_end_excl,      &mc_end_excl, &mc_excl)

HOLDTAP(ht_end_qst,       &mc_end_qst, &mc_qst)
MACRO_0_MS(mc_end_qst,    &mc_qst &kp SPACE &sk LSHIFT)

MACRO_0_MS(mc_end_dot,    &mc_dot &kp SPACE &sk LSHIFT)

MACRO_0_MS(mc_spc_comma,  &mc_comma &kp SPACE)
