/*           42 KEY MATRIX / LAYOUT MAPPING

 ╭─────────────────────────┬─────────────────────────╮
 │ LT5 LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 RT5 │
 │ LM5 LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 RM5 │
 │ LB5 LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 RB5 │
 ╰───────────╮ LH2 LH1 LH0 │ RH0 RH1 RH2 ╭───────────╯
             ╰─────────────┴─────────────╯             */

/* Horizontal cobos (left half) */
COMBO(delete,           LT3 LT2,      &kp DEL,               ALL_LAYERS)
COMBO_FAST(grave,       LT2 LT1,      &ht_grave 0 0,         ALPHA SYMBOLS)
COMBO_FAST(caps_grave,  LT2 LT1,      &kp LS(GRAVE),         CAPS_WORD)

COMBO(bspc,             LM3 LM2,      &kp BSPC,              ALL_LAYERS)
COMBO(enter,            LM2 LM1,      &kp ENTER,             ALL_LAYERS)
COMBO(escape,           LM1 LM3,      &kp ESC,               TOGGLE_LAYERS GAME_LAYERS)
COMBO(bootloader,       LM0 LM1 LM2,  &bootloader,           TOGGLE_LAYERS)

COMBO(copy,             LB3 LB2,      &ht_copy 0 0,          TOGGLE_LAYERS)
COMBO(paste,            LB1 LB2,      &ht_paste 0 0,         TOGGLE_LAYERS)
COMBO(cut,              LB3 LB1,      &ht_cut 0 0,           TOGGLE_LAYERS)
COMBO(win_paste,        LB3 LB2 LB1,  &kp LG(V),             TOGGLE_LAYERS)

/* Horizontal combos (right half) */
COMBO(under,            RT2 RT3,      &kp UNDER,             TOGGLE_LAYERS)

COMBO(minus_dash,       RM2 RM3,      &ht_minus_dash 0 0,    TOGGLE_LAYERS)
COMBO(tab,              RM2 RM1,      &kp TAB,               TOGGLE_LAYERS)
COMBO(dqt,              RM1 RM3,      &mc_dqt,               TOGGLE_LAYERS)

COMBO(mouse,            RB3 RB2,      &mouse_word MOUSE,     TOGGLE_LAYERS)
COMBO(rbkt,             RB1 RB2,      &kp RBKT,              ALPHA SYMBOLS)
COMBO(caps_rbkt,        RB1 RB2,      &kp LS(RBKT),          CAPS_WORD)

/* Vertical combos (left half) */
COMBO_SLOW(screenshot,  LT3 LM3,      &kp LG(LS(S)),         TOGGLE_LAYERS)
COMBO_SLOW(amd_record,  LT2 LM2,      AMD_RECORD,            TOGGLE_LAYERS)
COMBO_SLOW(amd_overlay, LT1 LM1,      AMD_OVERLAY,           TOGGLE_LAYERS)


/* Diagonal combos (left half) */
COMBO(numpad,           LM2 LB1,      &num_word NUMPAD,      ALL_LAYERS)
COMBO(ctrl_t,           LT2 LM1,      &kp LC(T),             TOGGLE_LAYERS)
COMBO_FAST(ctrl_q,      LT2 LM3,      &kp LC(Q),             TOGGLE_LAYERS)

/* Diagonal combos (right half) */
COMBO(undo,             LB3 LM2,      &kp LC(Z),             TOGGLE_LAYERS)
COMBO(redo,             LB3 LM1,      &kp LC(LS(Z)),         TOGGLE_LAYERS)
