#define VOL_DOWN &hmr LCTRL C_VOL_DN

ZMK_LAYER(fn,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
     ___             &kp F12         &kp F7          &kp F8          &kp F9          ___                 ___             &kp C_PREV      &kp C_VOL_UP    &kp C_NEXT      ___             ___
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     ___             &kp F11         &kp F4          &kp F5          &kp F6          ___                 ___             ___             VOL_DOWN        ___             ___             ___
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     ___             &kp F10         &kp F1          &kp F2          &kp F3          ___                 ___             ___             ___             ___             ___             ___
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                     &kp C_MUTE      &kp C_PP        ___                 ___             ___             ___ 
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)