// todo: implement game word
ZMK_LAYER(game_fps,     
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
     ___             &kp ESCAPE      &kp Q           &kp W           &kp E           &kp R               ___             ___             ___             ___             ___             ___
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     &tog GAME_FPS   &kp LSHIFT      &kp A           &kp S           &kp D           &kp F               ___             &tog GAME_FPS   &tog GAME_FPS   &tog GAME_FPS   &tog GAME_FPS   ___
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     ___             &kp TAB         &kp Z           &kp X           &kp C           &kp V               ___             ___             ___             ___             ___             ___
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                     &kp LCTRL       &lt NUM SPACE   XXX                 ___             ___             ___
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)