ZMK_LAYER(sym,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
     ___             &m_caret        &m_lbkt         &m_rbkt         &m_pipe         ___                 ___             &m_amps         &m_less         &m_greater      &m_at_sign      ___
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     ___             &m_qst          &kp LPAR        &kp RPAR        &m_colon        &kp BACKSLASH       &kp DOLLAR      &kp EQUAL       &kp MINUS       &kp PLUS        &kp EXCL        ___
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     ___             &kp HASH        &m_lbrc         &m_rbrc         &m_dqt          ___                 ___             &m_sqt          &kp STAR        &kp KP_DIVIDE   &kp PERCENT     ___
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                     &m_type_email   &kp UNDER       ___                 ___             ___             ___
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)