// todo: question and exclamation shift mod morph
// and mod morph double quote 
ZMK_LAYER(sym,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
     ___             ___             &m_lbkt         &m_rbkt         &kp HASH        &m_caret            &kp DOLLAR      &kp PERCENT     &m_less         &m_greater      ___             ___
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     &m_type_email   &m_qst          &kp LPAR        &kp RPAR        &m_colon        &m_pipe             &m_amps         &kp EQUAL       &kp MINUS       &kp PLUS        &kp EXCL        &m_sqt
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     ___             &kp BACKSLASH   &m_lbrc         &m_rbrc         &m_dqt          ___                 ___             &kp UNDER       &kp STAR        &kp KP_DIVIDE   &m_at_sign      ___
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                     ___             ___             ___                 ___             ___             ___ 
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)

