ZMK_LAYER(symbols,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
     ___             ___             &th_lbrc 0 0    &mc_rbrc        &kp DOLLAR      ___                 ___             &kp HASH        &mc_less        &mc_greater     ___             ___
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     ___             &mc_end_qst     &th_lpar 0 0    &th_rpar 0 0    &mc_colon       &mc_caret           &mc_amps        &kp EQUAL       &kp MINUS       &kp PLUS        &mc_end_excl    &mc_sqt
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     ___             &th_at_sign 0 0  &mc_lbkt       &mc_rbkt        &th_dqt 0 0     &kp BACKSLASH       &mc_pipe        &kp PERCENT     &kp STAR        &kp KP_DIVIDE   ___             ___
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                     ___             ___             ___                 ___             ___             ___
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)

SIMPLE_MORPH(mm_excl, SFT, &kp EXCL, &mc_end_excl)
SIMPLE_MORPH(mm_qst, SFT, &mc_qst, &mc_end_qst)
SIMPLE_MORPH(mm_at_email, SFT, &mc_at_sign, &mc_email)
