ZMK_LAYER(symbols,
// ╭──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────╮   ╭──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────╮
     ___                ___                &ht_lbrc 0 0       &mc_rbrc           &kp DOLLAR         ___                    ___                &kp HASH           &mc_less           &ht_js_fn 0 0      ___                ___
// ├──────────────────├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤   ├──────────────────├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
     ___                &mc_qst            &ht_lpar 0 0       &ht_rpar 0 0       &mc_colon          &mc_pipe               &mc_amps           &kp EQUAL          &kp MINUS          &kp PLUS           &kp EXCL           &mc_sqt
// ├──────────────────├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤   ├──────────────────├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
     ___                &ht_at_sign 0 0    &mc_lbkt           &mc_rbkt           &ht_dqt 0 0        &kp BACKSLASH          &mc_caret          &kp PERCENT        &kp STAR           &kp KP_DIVIDE      ___                ___
// ╰──────────────────┴──────────────────┴──────────────────┼──────────────────┼──────────────────┼──────────────────┤   ├──────────────────├──────────────────┼──────────────────┼──────────────────┴──────────────────┴──────────────────╯
                                                              ___                ___                ___                    ___                ___                ___
//                                                          ╰──────────────────┴──────────────────┴──────────────────╯   ╰──────────────────┴──────────────────┴──────────────────╯
)