ZMK_LAYER(symbols,
// ╭──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────╮   ╭──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────╮
     ___                ___                &mc_less           &ht_grt_arrow 0 0  &ht_dqt 0 0        ___                    ___                &kp HASH           &kp DLLR           &kp PERCENT            ___                ___
// ├──────────────────├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤   ├──────────────────├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
     ___                &kp UNDER          &kp PLUS           &kp MINUS          &kp EQUAL          &mc_pipe               &mc_amps           &mc_colon          &ht_lpar 0 0       &ht_lbrc 0 0       &mc_lbkt           &mc_sqt
// ├──────────────────├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤   ├──────────────────├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
     ___                &ht_at_sign 0 0    &kp KP_DIVIDE      &kp STAR           &th_qst 0 0        &mc_up_dir             &mc_tilda          &th_excl 0 0       &ht_rpar 0 0       &mc_rbrc           &mc_rbkt           ___ 
// ╰──────────────────┴──────────────────┴──────────────────┼──────────────────┼──────────────────┼──────────────────┤   ├──────────────────├──────────────────┼──────────────────┼──────────────────┴──────────────────┴──────────────────╯
                                                              ___                ___                ___                    ___                ___                ___ 
//                                                          ╰──────────────────┴──────────────────┴──────────────────╯   ╰──────────────────┴──────────────────┴──────────────────╯
)