// Homerow mods
MAKE_HRM(hml, KEYS_R KEYS_T)
MAKE_HRM(hmr, KEYS_L KEYS_T)

// Tap: Backspace | Shift-tap: Delete | Hold: Momentary layer SYM
SIMPLE_MORPH(bspc_del_sym, SFT, &lt SYM BACKSPACE, &kp DELETE)

// Tap: Escape | LShift-tap: ~ | RShift-tap: `
ZMK_BEHAVIOR(mm_gresc, mod_morph,
    bindings = <&kp ESCAPE>, <&kp GRAVE>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    keep-mods = <(MOD_LSFT)>;
)

// Tap: Left bracket | Ctrl-tap: Right bracket
SIMPLE_MORPH(mm_lr_bkt, CTL, &kp LBKT, &kp RBKT)

// Tap: None | Double-tap: Toggle layer GAME_FPS
ZMK_BEHAVIOR(td_profiles, tap_dance,
    bindings = <&none>, <&tog GAME_FPS>, <&kp A>;
)

// Tap: None | Double-tap: CapsLock
ZMK_BEHAVIOR(td_capslock, tap_dance,
    bindings = <&none>, <&kp CAPSLOCK>;
)