/*           42 KEY MATRIX / LAYOUT MAPPING

 ╭─────────────────────────┬─────────────────────────╮
 │ LT5 LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 RT5 │
 │ LM5 LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 RM5 │
 │ LB5 LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 RB5 │
 ╰───────────╮ LH2 LH1 LH0 │ RH0 RH1 RH2 ╭───────────╯
             ╰─────────────┴─────────────╯             */

// Use require-prior-idle-ms for combos
#undef COMBO_HOOK
#define COMBO_HOOK require-prior-idle-ms = <150>;

#define COMBO_TERM_FAST 35
#define COMBO_TERM_SLOW 45

/* Horizontal combos - left hand */
ZMK_COMBO(cb_del, &kp DELETE, LT2 LT3, BASE NAV NUM, COMBO_TERM_FAST)

ZMK_COMBO(cb_bsps, &kp BACKSPACE, LM2 LM3, BASE NAV NUM, COMBO_TERM_FAST)
ZMK_COMBO(cb_lang_switch, &kp LC(LSHIFT), LM1 LM2, BASE NAV NUM, COMBO_TERM_FAST)
ZMK_COMBO(cb_paste, &kp LC(V), LB1 LB2, BASE NAV NUM, COMBO_TERM_FAST)
ZMK_COMBO(cb_copy, &kp LC(C), LB2 LB3, BASE NAV NUM, COMBO_TERM_FAST)
ZMK_COMBO(cb_num_word, &kp LC(X), LB1 LB3, BASE NAV NUM, COMBO_TERM_FAST)
ZMK_COMBO(cb_cut, &num_word, LB1 LB2 LB3, BASE NAV NUM, COMBO_TERM_FAST)

ZMK_COMBO(cb_undo, &kp LC(Z), LM2 LB3, BASE NAV NUM, COMBO_TERM_FAST)
ZMK_COMBO(cb_redo, &kp LC(LS(Z)), LM3 LB2, BASE NAV NUM, COMBO_TERM_FAST)
ZMK_COMBO(cb_enter, &kp ENTER, LM2 LB1, BASE NAV NUM, COMBO_TERM_FAST)