/*           42 KEY MATRIX / LAYOUT MAPPING

 ╭─────────────────────────┬─────────────────────────╮
 │ LT5 LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 RT5 │
 │ LM5 LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 RM5 │
 │ LB5 LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 RB5 │
 ╰───────────╮ LH2 LH1 LH0 │ RH0 RH1 RH2 ╭───────────╯
             ╰─────────────┴─────────────╯             */

#undef COMBO_HOOK
#define COMBO_HOOK require-prior-idle-ms = <PRIOR_IDLE_TERM>;

#define COMBO_TERM 35

#define COMBO(NAME, KEYS, BINDING, LAYERS) \
    ZMK_COMBO(NAME, BINDING, KEYS, LAYERS, COMBO_TERM)

#define TOGGLE_LAYERS ALPHA MOUSE NUMPAD NUM_ROW CAPS_WORD
#define ALL_LAYERS TOGGLE_LAYERS NAV MEDIA SYMBOLS


/* Top combos */
COMBO(grave,            LT3 LT2,      &ht_grave 0 0,         ALPHA MOUSE NUMPAD NUM_ROW)
COMBO(caps_grave,       LT3 LT2,      &kp LS(GRAVE),         CAPS_WORD)
COMBO(win_emoji,        LT3 LT1,      &ht_win_emoji 0 0,     TOGGLE_LAYERS)

COMBO(rbkt,             RT2 RT3,      &kp RBKT,              ALPHA MOUSE NUMPAD NUM_ROW)
COMBO(caps_rbkt,        RT2 RT3,      &kp LS(RBKT),          CAPS_WORD)


/* Home row combos */
COMBO(bspc,             LM3 LM2,      &kp BSPC,              ALL_LAYERS)
COMBO(enter,            LM2 LM1,      &kp ENTER,             ALL_LAYERS)
COMBO(esc,              LM3 LM1,      &kp ESC,               ALL_LAYERS)
COMBO(delete,           LM3 LM1 LM2,  &kp DEL,               ALL_LAYERS)

COMBO(minus_dash,       RM2 RM3,      &ht_minus_dash 0 0,    ALL_LAYERS)
COMBO(tab,              RM2 RM1,      &kp TAB,               ALL_LAYERS)
COMBO(dqt,              RM1 RM3,      &mc_dqt,               ALL_LAYERS)


/* Bottom combos */
COMBO(copy,             LB3 LB2,      &ht_copy 0 0,          TOGGLE_LAYERS)
COMBO(paste,            LB1 LB2,      &ht_paste 0 0,         TOGGLE_LAYERS)
COMBO(cut,              LB3 LB1,      &ht_cut 0 0,           TOGGLE_LAYERS)
COMBO(win_paste,        LB3 LB2 LB1,  &kp LG(V),             TOGGLE_LAYERS)

COMBO(mouse,            RB2 RB3,      &mouse_word,           TOGGLE_LAYERS)


/* Vertical combos */
COMBO(screenshot,       LT3 LM3,      &kp LG(LS(S)),         TOGGLE_LAYERS)
COMBO(toggle_record,    LT2 LM2,      TOGGLE_RECORD,         TOGGLE_LAYERS)
COMBO(toggle_overlay,   LT1 LM1,      TOGGLE_OVERLAY,        TOGGLE_LAYERS)

COMBO(arrow_r,          RT1 RM1,      &mc_arr_r,             TOGGLE_LAYERS)
COMBO(fat_arrow_r,      RT2 RM2,      &mc_fat_arr_r,         TOGGLE_LAYERS)


/* Diagonal combos */
COMBO(ctrl_t,           LT2 LM1,      &kp LC(T),             TOGGLE_LAYERS)
COMBO(ctrl_q,           LT2 LM3,      &kp LC(Q),             TOGGLE_LAYERS)

COMBO(undo,             LB3 LM2,      &kp LC(Z),             TOGGLE_LAYERS)
COMBO(redo,             LB3 LM1,      &kp LC(LS(Z)),         TOGGLE_LAYERS)


/* GAME_FPS combos */
COMBO(fps_t,            LT1 LT2,      &kp T,                 GAME_FPS)
COMBO(fps_g,            LM1 LM2,      &kp G,                 GAME_FPS)
COMBO(fps_numpad,       LM2 LM3,      &sl NUMPAD,            GAME_FPS)


/* Left hand SYMBOLS combos */
/*
COMBO(logic_or,         LB2 LB3,      &mc_lgc_or,            SYMBOLS)
COMBO(triple_dot,       LB1 LB2,      &mc_triple_dot,        SYMBOLS)
COMBO(logic_and,        LM2 LM3,      &mc_lgc_and,           SYMBOLS)
COMBO(nullish,          LM1 LM3,      &mc_nullish,           SYMBOLS)
COMBO(js_eqls,          LM1 LM2,      &ht_js_eqls 0 0,       SYMBOLS)
COMBO(js_fn,            LT2 LT3,      &mc_js_fn,             SYMBOLS)
*/

