/*           42 KEY MATRIX / LAYOUT MAPPING

 ╭─────────────────────────┬─────────────────────────╮
 │ LT5 LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 RT5 │
 │ LM5 LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 RM5 │
 │ LB5 LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 RB5 │
 ╰───────────╮ LH2 LH1 LH0 │ RH0 RH1 RH2 ╭───────────╯
             ╰─────────────┴─────────────╯             */

#undef COMBO_HOOK
#define COMBO_HOOK require-prior-idle-ms = <PRIOR_IDLE_TERM>;

#define COMBO_TERM 40

#define COMBO(NAME, KEYS, BINDINGS, LAYERS) \
    ZMK_COMBO(NAME, BINDINGS, KEYS, LAYERS, COMBO_TERM)

COMBO(select_all,       LT3 LT2,      &kp LC(A),             ALPHA CAPS_WORD)

COMBO(cut,              LM3 LM1,      &ht_cut 0 0,           ALPHA MOUSE NUM_WORD CAPS_WORD)
COMBO(paste,            LM3 LM2,      &ht_paste 0 0,         ALPHA MOUSE NUM_WORD CAPS_WORD)
COMBO(copy,             LM2 LM1,      &ht_copy 0 0,          ALPHA MOUSE NUM_WORD CAPS_WORD)
COMBO(win_paste,        LM3 LM2 LM1,  &kp LG(V),             ALPHA MOUSE NUM_WORD CAPS_WORD)

COMBO(hand_num,         LB3 LB2,      &hand_num,             ALPHA)

COMBO(undo,             LM2 LB3,      &kp LC(Z),             ALPHA MOUSE NUM_WORD HAND_NUM CAPS_WORD)
COMBO(redo,             LM3 LB2,      &kp LC(LS(Z)),         ALPHA MOUSE NUM_WORD HAND_NUM CAPS_WORD)
                    
COMBO(change_language,  LM1 RM1,      CHANGE_LANG,           ALPHA CAPS_WORD)

COMBO(logic_or,         LB2 LB3,      &mc_logic_or,          SYMBOLS)
COMBO(triple_dot,       LB1 LB2,      &mc_triple_dot,        SYMBOLS)
COMBO(logic_and,        LM2 LM3,      &mc_logic_and,         SYMBOLS)
COMBO(nullish,          LM1 LM3,      &mc_nullish,           SYMBOLS)
COMBO(js_eqls,          LM1 LM2,      &ht_js_eqls 0 0,       SYMBOLS)
COMBO(js_fn,            LT2 LT3,      &mc_js_fn,             SYMBOLS)

COMBO(comma_spc,        RM2 RM3,      &mc_spc_comma,         ALPHA CAPS_WORD)
COMBO(mouse_word,       LT1 LT3,      &mouse_word,           ALPHA CAPS_WORD)