#define BASE 0
#define NUM 1
#define SYM 2
#define NAV 3
#define FN 4
#define MEDIA 5
#define GAME_FPS 6
#define MOUSE 7
#define SYS 8

#define ___ &trans
#define XXX &none

#define MEH LC(LALT)
#define CNG_LNG &kp LC(LSHIFT)