#define SIMPLE_MORPH(NAME, MOD, BINDING1, BINDING2) \
    ZMK_BEHAVIOR(NAME, mod_morph, \
        mods = <(MOD_L ## MOD|MOD_R ## MOD)>; \
        bindings = <BINDING1>, <BINDING2>; \
    )



#define MAKE_WIN_MEH(KEY) LG(LC(LS(KEY)))
#define MAKE_HYPER(KEY) LC(LS(LA(KEY)))