#define HOMEMOD_LEFT(NAME, HOLD, TAP) \
    ZMK_BEHAVIOR(NAME, hold_tap, \
        flavor = "balanced"; \
        tapping-term-ms = <TAPPING_TERM_SLOW>; \
        quick-tap-ms = <QUICK_TAP_TERM>; \
        require-prior-idle-ms = <PRIOR_IDLE_TERM>; \
        bindings = <HOLD>, <TAP>; \
        hold-trigger-key-positions = <KEYS_R KEYS_T>; \
        hold-trigger-on-release; \
    )

#define HOMEMOD_RIGHT(NAME, HOLD, TAP) \
    ZMK_BEHAVIOR(NAME, hold_tap, \
        flavor = "balanced"; \
        tapping-term-ms = <TAPPING_TERM_SLOW>; \
        quick-tap-ms = <QUICK_TAP_TERM>; \
        require-prior-idle-ms = <PRIOR_IDLE_TERM>; \
        bindings = <HOLD>, <TAP>; \
        hold-trigger-key-positions = <KEYS_L KEYS_T>; \
        hold-trigger-on-release; \
    )

#define MORPH_BOTH(NAME, MOD, MODDED, UNMODDED) \
    ZMK_BEHAVIOR(NAME, mod_morph, \
        mods = <(MOD_L ## MOD|MOD_R ## MOD)>; \
        bindings = <MODDED>, <UNMODDED>; \
    )

#define MORPH_SINGLE(NAME, MOD, UNMODDED, MODDED) \
    ZMK_BEHAVIOR(NAME, mod_morph, \
        mods = <(MOD_ ## MOD)>; \
        bindings = <UNMODDED>, <MODDED>; \
    )

#define MORPH_BOTH(NAME, MOD, MODDED, UNMODDED) \
    ZMK_BEHAVIOR(NAME, mod_morph, \
        mods = <(MOD_L ## MOD|MOD_R ## MOD)>; \
        bindings = <MODDED>, <UNMODDED>; \
    )

#define HOLDTAP_KEY(NAME, HOLD, TAP) \
    ZMK_BEHAVIOR(NAME, hold_tap, \
        tapping-term-ms = <TAPPING_TERM_FAST>; \
        flavor = "tap-preferred"; \
        quick-tap-ms = <QUICK_TAP_TERM>; \
        bindings = <HOLD>, <TAP>; \
    )

#define LAYERTAP_KEY(NAME, TAP) \
    ZMK_BEHAVIOR(NAME, hold_tap, \
        tapping-term-ms = <TAPPING_TERM_FAST>; \
        flavor = "balanced"; \
        quick-tap-ms = <QUICK_TAP_TERM>; \
        bindings = <&mo>, <TAP>; \
    )

#define MACRO_0_MS(NAME, BINDINGS) \
    ZMK_BEHAVIOR(NAME, macro, \
        wait-ms = <0>; \
        tap-ms = <0>; \
        bindings = <&macro_tap BINDINGS>; \
    )

#define MACRO_10_MS(NAME, BINDINGS) \
    ZMK_BEHAVIOR(NAME, macro, \
        wait-ms = <10>; \
        tap-ms = <10>; \
        bindings = <&macro_tap BINDINGS>; \
    )