// Logical Operators
HOLDTAP(ht_lgc_pipe,        &mc_lgc_or, &mc_pipe)
MACRO_FAST(mc_lgc_or,      &kp SPACE &kp PIPE &kp PIPE &kp SPACE)

HOLDTAP(ht_lgc_amps,        &mc_lgc_and, &mc_amps)
MACRO_FAST(mc_lgc_and,     &kp SPACE &kp AMPS &kp AMPS &kp SPACE)

// Punctuation
MORPH_SINGLE(mm_spc_dot,    LSFT, &kp SPC, &kp K_DOT)
MACRO_FLAT(mc_spc_dot,      &mc_dot &kp SPACE &sk LSHIFT)

MACRO_FLAT(mc_spc_comma,    &kp K_COMMA &kp SPACE)

MACRO_FAST(mc_em_dash,     &kp SPC &kp MINUS &kp MINUS &kp SPC)
HOLDTAP(ht_minus_dash,      &mc_em_dash, &mc_minus)

// Email
MACRO_FLAT(mc_at,           &kp K_AT)
MACRO_FAST(mc_my_email,    MC_MY_EMAIL)
HOLDTAP(ht_at_email,        &mc_my_email, &mc_at)

// PIN
MACRO_FAST(mc_my_pin,      MC_MY_PIN)

/*
* Symbols: Windows Alt Codes
* System: Windows
* Use: When you don't want to install an external keyboard layer
* Caution: 
*	- In some apps these symbols may not work
*	- Don't work in macros
* */
/* #ifdef SYMBOLS_WINDOWS_ALT_CODES */
MACRO_ALT_SYMBOL(mc_comma,        &kp KP_N4 &kp KP_N4)
MACRO_ALT_SYMBOL(mc_at,           &kp KP_N6 &kp KP_N4)
MACRO_ALT_SYMBOL(mc_colon,        &kp KP_N5 &kp KP_N8)
MACRO_ALT_SYMBOL(mc_caret,        &kp KP_N9 &kp KP_N4)
MACRO_ALT_SYMBOL(mc_lbrc,         &kp KP_N1 &kp KP_N2 &kp KP_N3)
MACRO_ALT_SYMBOL(mc_qst,          &kp KP_N6 &kp KP_N3)
MACRO_ALT_SYMBOL(mc_pipe,         &kp KP_N1 &kp KP_N2 &kp KP_N4)
MACRO_ALT_SYMBOL(mc_sqt,          &kp KP_N3 &kp KP_N9)
MACRO_ALT_SYMBOL(mc_rbrc,         &kp KP_N1 &kp KP_N2 &kp KP_N5)
MACRO_ALT_SYMBOL(mc_lbkt,         &kp KP_N9 &kp KP_N1)
MACRO_ALT_SYMBOL(mc_rbkt,         &kp KP_N9 &kp KP_N3)
MACRO_ALT_SYMBOL(mc_less,         &kp KP_N6 &kp KP_N0)
MACRO_ALT_SYMBOL(mc_dot,          &kp KP_N4 &kp KP_N6)
MACRO_ALT_SYMBOL(mc_tilda,        &kp KP_N1 &kp KP_N2 &kp KP_N6)
MACRO_ALT_SYMBOL(mc_amps,         &kp KP_N3 &kp KP_N8)
MACRO_ALT_SYMBOL(mc_greater,      &kp KP_N6 &kp KP_N2)
MACRO_ALT_SYMBOL(mc_dqt,          &kp KP_N3 &kp KP_N4)
MACRO_ALT_SYMBOL(mc_spc,          &kp KP_N3 &kp KP_N2)
/* #endif */


/* #ifdef SYMBOLS_CUSTOM_KEYBOARD_LAYOUT */
/* #define K_COMMA RA(N0) */
/* #define K_COLON RA(N1) */
/* #define K_AT    RA(N2) */
/* #define K_PIPE  RA(N3) */
/* #define K_AMPS  RA(N4) */
/* #define K_LESS  RA(N5) */
/* #define K_GRT   RA(N6) */
/* #define K_QST   RA(N7) */
/* #define K_LBKT  RA(N8) */
/* #define K_RBKT  RA(N9) */
/**/
/* #define K_SEMI  RS(RA(N0)) */
/* #define K_RBRC  RS(RA(N1)) */
/* #define K_LBRC  RS(RA(N2)) */
/* #define K_TILDA RS(RA(N3)) */
/* #define K_DQT   RS(RA(N4)) */
/* #define K_DOT   RS(RA(N5)) */
/* #define K_DLLR  RS(RA(N6)) */
/* #define K_CARET RS(RA(N7)) */
/* #endif */

MACRO_FLAT(mc_minus,        &kp MINUS)
MACRO_FLAT(mc_up_dir,       &kp DOT &kp DOT &kp SLASH)
