ZMK_LAYER(Meh,
// ╭──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────╮   ╭──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────╮
     ___                ___                ___                ___                ___                ___                    MAKE_MEH(Y)        MAKE_MEH(U)        MAKE_MEH(I)        MAKE_MEH(O)        MAKE_MEH(P)        MAKE_MEH(LBKT)
// ├──────────────────├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤   ├──────────────────├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
     ___                ___                ___                ___                ___                ___                    MAKE_MEH(H)        MAKE_MEH(J)        MAKE_MEH(K)        MAKE_MEH(L)        MAKE_MEH(SEMI)     MAKE_MEH(SQT) 
// ├──────────────────├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤   ├──────────────────├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
     ___                ___                ___                ___                ___                ___                    MAKE_MEH(N)        MAKE_MEH(M)        MAKE_MEH(COMMA)    MAKE_MEH(DOT)      MAKE_MEH(SLASH)    XXX
// ╰──────────────────┴──────────────────┴──────────────────┼──────────────────┼──────────────────┼──────────────────┤   ├──────────────────├──────────────────┼──────────────────┼──────────────────┴──────────────────┴──────────────────╯
                                                              ___                ___                ___                    ___                MAKE_MEH(RBKT)     ___
//                                                          ╰──────────────────┴──────────────────┴──────────────────╯   ╰──────────────────┴──────────────────┴──────────────────╯
)
