ZMK_LAYER(Sym,
// ╭──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────╮   ╭──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────╮
     ___                ___                &kp PLUS           &kp MINUS           &kp HASH           ___                    ___                &kp K_TILDA        &kp KP_DIVIDE      &kp STAR     ___                ___
// ├──────────────────├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤   ├──────────────────├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
     ___                &kp EXCL           &kp LPAR           &kp RPAR           &kp EQUAL          &kp K_PIPE             &kp K_AMPS         &kp K_COLON        &kp K_LBRC         &kp K_RBRC         &kp K_QST          &kp K_SEMI 
// ├──────────────────├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤   ├──────────────────├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
     ___                &kp K_CARET        &kp K_LBKT         &kp K_RBKT         &ht_at_email 0 0   ___                    ___                &kp PERCENT        &kp K_LESS         &kp K_GRT          &kp K_DLLR           ___
// ╰──────────────────┴──────────────────┴──────────────────┼──────────────────┼──────────────────┼──────────────────┤   ├──────────────────├──────────────────┼──────────────────┼──────────────────┴──────────────────┴──────────────────╯
                                                              &mc_up_dir         ___                &kp BSLH               ___                ___                ___ 
//                                                          ╰──────────────────┴──────────────────┴──────────────────╯   ╰──────────────────┴──────────────────┴──────────────────╯
)
