ALT_SYMBOL(mc_comma,        &kp KP_N4 &kp KP_N4)
ALT_SYMBOL(mc_colon,        &kp KP_N5 &kp KP_N8)
ALT_SYMBOL(mc_caret,        &kp KP_N9 &kp KP_N4)
ALT_SYMBOL(mc_lbrc,         &kp KP_N1 &kp KP_N2 &kp KP_N3)
ALT_SYMBOL(mc_qst,          &kp KP_N6 &kp KP_N3)
ALT_SYMBOL(mc_pipe,         &kp KP_N1 &kp KP_N2 &kp KP_N4)
ALT_SYMBOL(mc_sqt,          &kp KP_N3 &kp KP_N9)
ALT_SYMBOL(mc_rbrc,         &kp KP_N1 &kp KP_N2 &kp KP_N5)
ALT_SYMBOL(mc_lbkt,         &kp KP_N9 &kp KP_N1)
ALT_SYMBOL(mc_rbkt,         &kp KP_N9 &kp KP_N3)
ALT_SYMBOL(mc_less,         &kp KP_N6 &kp KP_N0)
ALT_SYMBOL(mc_dot,          &kp KP_N4 &kp KP_N6)
ALT_SYMBOL(mc_tilda,        &kp KP_N1 &kp KP_N2 &kp KP_N6)
ALT_SYMBOL(mc_amps,         &kp KP_N3 &kp KP_N8)
ALT_SYMBOL(mc_greater,      &kp KP_N6 &kp KP_N2)
ALT_SYMBOL(mc_dqt,          &kp KP_N3 &kp KP_N4)
ALT_SYMBOL(mc_spc,          &kp KP_N3 &kp KP_N2)

MACRO_0_MS(mc_rpar,         &kp RPAR)
MACRO_0_MS(mc_lpar,         &kp LPAR)
MACRO_0_MS(mc_minus,        &kp MINUS)
MACRO_0_MS(mc_plus,         &kp PLUS)
MACRO_0_MS(mc_star,         &kp STAR)
MACRO_0_MS(mc_fslh,         &kp KP_DIVIDE)
MACRO_0_MS(mc_bslh,         &kp BSLH)
MACRO_0_MS(mc_eql,          &kp EQUAL)
MACRO_0_MS(mc_excl,         &kp EXCL)
MACRO_0_MS(mc_grave,        &kp GRAVE)
MACRO_0_MS(mc_under,        &kp UNDER)

// TODO: make alt symbol
MACRO_10_MS(mc_em_dash,     &kp SPC &kp MINUS &kp MINUS &kp SPC)

DOUBLE_SYMBOL(ht_dbl_plus,  &mc_plus)
DOUBLE_SYMBOL(ht_dbl_star,  &mc_star)
DOUBLE_SYMBOL(ht_dbl_fslh,  &mc_fslh)
DOUBLE_SYMBOL(ht_dbl_bslh,  &mc_bslh)
MACRO_0_MS(mc_dbl_minus,    &kp MINUS &kp MINUS)

MACRO_0_MS(mc_up_dir,       &kp DOT &kp DOT &kp SLASH)
MACRO_0_MS(mc_tpl_grave,    &kp GRAVE &kp GRAVE &kp GRAVE)
MACRO_0_MS(mc_tpl_under,    &kp UNDER &kp UNDER &kp UNDER)
