MACRO_0_MS(mc_end_excl,     &kp EXCL &kp SPACE &sk LSHIFT)
HOLDTAP(ht_end_excl,    &mc_end_excl, &mc_excl)

HOLDTAP(ht_end_qst,     &mc_end_qst, &mc_qst)
MACRO_0_MS(mc_end_qst,      &mc_qst &kp SPACE &sk LSHIFT)

MACRO_0_MS(mc_end_dot,      &mc_dot &kp SPACE &sk LSHIFT)

MACRO_0_MS(mc_spc_comma,    &mc_comma &kp SPACE)

HOLDTAP(ht_minus_dash,  &mc_em_dash, &mm_dbl_minus)
MORPH_SINGLE(mm_dbl_minus,  LSFT, &kp MINUS, &mc_dbl_minus)
