/* LEFT PIECE */
/* horizontal combos */
COMBO(dota2_extra_5,    LT1 LT2,      &kp F5,                GAME_DOTA2)
COMBO(dota2_extra_4,    LT2 LT3,      &kp F4,                GAME_DOTA2)

COMBO(game_g,           LM0 LM1,      &kp G,                 GAME_LAYERS)
COMBO(game_extra_3,     LM3 LM4,      &kp F3,                GAME_LAYERS)

COMBO(game_esc,         LB1 LB3,      &kp ESC,               GAME_LAYERS)
COMBO(game_extra_1,     LB2 LB3,      &kp F1,                GAME_LAYERS)
COMBO(game_extra_2,     LB1 LB2,      &kp F2,                GAME_LAYERS)

/* layers entry combos */
COMBO(game_default,    LT3 LT1,       &to GAME_DEFAULT,      ALL_LAYERS)
COMBO_SLOW(game_dota2, LT1 LT2 LT3,   &to GAME_DOTA2,        ALL_LAYERS)
