#define MACRO_0_MS(NAME, BINDINGS) \
    ZMK_MACRO(NAME, \
        wait-ms = <0>; \
        tap-ms = <0>; \
        bindings = <&macro_tap BINDINGS>; \
    )

#define MACRO_10_MS(NAME, BINDINGS) \
    ZMK_MACRO(NAME, \
        wait-ms = <10>; \
        tap-ms = <10>; \
        bindings = <&macro_tap BINDINGS>; \
    )

#define MACRO_100_MS(NAME, BINDINGS) \
    ZMK_MACRO(NAME, \
        wait-ms = <100>; \
        tap-ms = <100>; \
        bindings = <&macro_tap BINDINGS>; \
    )