#define ALPHA         0
#define CAPS_WORD     1
#define NUMPAD        2
#define NUM_ROW       3
#define MOUSE         4
#define NAV           5
#define SYMBOLS       6
#define SHORTCUTS     7
#define FN            8
#define GAME_ELDEN    9
#define VLC_PLAYER    10
#define SYSTEM        11
#define LOCK          12
#define UNLOCK        13

#define HOLD_LAYERS   NAV SHORTCUTS SYMBOLS FN SYSTEM
#define TOGGLE_LAYERS ALPHA MOUSE NUMPAD NUM_ROW CAPS_WORD
#define GAME_LAYERS   GAME_ELDEN

#define ALL_LAYERS    HOLD_LAYERS TOGGLE_LAYERS
