#define ALPHA 0

#define CAMEL_CASE 1
#define CASE_SHIFTED 2
#define SNAKE_CASE 3
#define KEBAB_CASE 4
#define CASE_SPACING 5
#define CAPS_WORD 6

#define LOWER 7
#define RAISE 8
#define SYMBOLS 9
#define NUMPAD 10
#define NAV 11
#define MEDIA 12
#define GAME_FPS 13
#define SYSTEM 14

#define ___ &trans
#define XXX &none

#define CHANGE_LANG &kp LC(LSHIFT)
#define CLOSE_TABS &kp LC(LA(F1))