HOMEMOD_LEFT(hml, &kp, &kp)
HOMEMOD_RIGHT(hmr, &kp, &kp)

ZMK_BEHAVIOR(my_caps_word, caps_word,
    layers = <CAPS_WORD>;
    continue-list = <
        UNDERSCORE MINUS
        BACKSPACE DELETE
        SQT GRAVE LBKT RBKT DOT COMMA 
        LEFT DOWN UP RIGHT 
        LSHFT RSHFT
    >;
    ignore-alphas;
)

ZMK_BEHAVIOR(mt_alpha, hold_tap,
    flavor = "tap-preferred";
    quick-tap-ms = <QUICK_TAP_TERM_SLOW>;
    tapping-term-ms = <TAPPING_TERM_SLOW>;
    bindings = <&kp>, <&kp>;
)