HOME_ROW_MOD(hml, &kp, &kp, KEYS_R KEYS_T)
HOME_ROW_MOD(hmr, &kp, &kp, KEYS_L KEYS_T)

ZMK_BEHAVIOR(my_caps_word, caps_word,
    layers = <CAPS_WORD>;
    continue-list = <UNDERSCORE MINUS BACKSPACE DELETE SQT GRAVE LBKT RBKT DOT COMMA LEFT DOWN UP RIGHT>;
    ignore-alphas;
    ignore-modifiers;
)

/*
ZMK_BEHAVIOR(num_expr, caps_word,
    layers = <NUMPAD>;
    continue-list = <
        PLUS MINUS STAR KP_DIVIDE EQUAL PERCENT LPAR RPAR 
        SPACE BACKSPACE DELETE
        KP_N0 KP_N1 KP_N2 KP_N3 KP_N4 KP_N5 KP_N6 KP_N7 KP_N8 KP_N9
    >;
    ignore-numbers;
    ignore-modifiers;
)
*/