#define QUICK_TAP_TERM 220
#define TAPPING_TERM 220
#define PRIOR_IDLE_TERM 150 

#define HM_TAPPING_TERM 280 // 175
#define HM_FLAVOR "balanced"

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 3000 
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20

&num_word {
    layers = <NUM_WORD>;
    continue-list = <
        BACKSPACE DELETE
    >;
    ignore-modifiers;
};

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <TAPPING_TERM>;
    quick-tap-ms = <QUICK_TAP_TERM>;
};

&lt {
    tapping-term-ms = <HM_TAPPING_TERM>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    flavor = "balanced";
};

&sl {
    release-after-ms = <1000>;
    quick-release;
};

&sk {
    release-after-ms = <1000>;
    quick-release;
};

&mmv {
    acceleration-exponent = <1>;
    time-to-max-speed-ms = <500>;
    delay-ms = <0>;
};

&msc {
    acceleration-exponent = <1>;
    time-to-max-speed-ms = <40>;
    delay-ms = <0>;
};