#define QUICK_TAP_MS 175

#define COMBO_TERM_FAST 35
#define COMBO_TERM_SLOW 40

&caps_word {
    /delete-property/ ignore-modifiers;
};

&num_word {
    layers = <NUM_WORD>;
    continue-list = <
        PLUS MINUS STAR KP_DIVIDE
        EQUAL PERCENT LPAR RPAR 
        BACKSPACE
        KP_N0 KP_N1 KP_N2 KP_N3 KP_N4 KP_N5 KP_N6 KP_N7 KP_N8 KP_N9
    >;
    ignore-modifiers;
};

&lt {
    tapping-term-ms = <300>;
    quick-tap-ms = <200>;
    flavor = "balanced";
};

&sk {
    quick-release;
};